*{
    margin: 0px; 
    padding: 0px;
    align-items: center;
}
body{
  background-image: url("the\ witcher\ hell.png");
  width: 1600px;  
  height: 850px;
}
.simbolo{
    width: 70px;
    height: 100px;
    margin-inline: 7%;
}
.projeto{
    margin-inline-start: 11% ;
    position:absolute;
    margin-top: -45px;
    color: #FFFFFF;
    opacity: 70%;
    text-transform: uppercase;
    font-size: 20px;
}
#menu{
    margin-top: -3%;
}
.ul{
    display:inline-flex;
    margin-left: 85%;
}
.li1{
    margin: 20px;;
    list-style: none;
    padding: 0px;
    color:#FFFFFF;
    opacity: 100%;
    text-transform: uppercase;
    font-size: 20px ;
}
.li{
    margin: 20px;;
    list-style: none;
    padding: 0px;
    color:#FFFFFF;
    opacity: 70%;
    text-transform: uppercase;
    font-size: 20px ;
}
.homem{
    background-image: url("the\ witcher\ kavil2.png");
    background-repeat: no-repeat;
    width: 750px; ;
    height: 950px;
    margin-left: 40%;
    margin-right:40%;
}
.logo{
    padding-top: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.botao1{
    margin-top: -270px;
    margin-left:52% ;
    max-height:52% ;
}